<ion-app>
  <div *ngIf="platform.is('android')">
    <ion-split-pane>

      <ion-menu side="start" menuId="first">
        <ion-header>
          <ion-toolbar color="secondary">
            <ion-title>Menu</ion-title>
          </ion-toolbar>
        </ion-header>
        <ion-content>

          <ion-list>
            <ion-item>
              <ion-thumbnail slot="start">
                <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAAAAACH5BAAAAAAALAAAAAABAAEAAAICTAEAOw==">
              </ion-thumbnail>
              <ion-label>
                <h2>{{ userName }}</h2>
                <p>Düsseldorf, DE</p>
              </ion-label>
              <ion-button fill="outline" slot="end" (click)="close()">Edit </ion-button>
            </ion-item>
            <ion-item routerLink="/" (click)="close()">
              Home
            </ion-item>
            <ion-item routerLink="/festivals" (click)="close()">
              Festivals
            </ion-item>
            <ion-item routerLink="/bands" (click)="close()">
              Bands
            </ion-item>
            <ion-item routerLink="/auth" (click)="close()">
              Login/Register
            </ion-item>
          </ion-list>

        </ion-content>
      </ion-menu>

      <ion-router-outlet main></ion-router-outlet>
    </ion-split-pane>
  </div>
  <div *ngIf="platform.is('iphone') || platform.is('ipad')">
    <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button tab="festivals">
          <ion-label>Festivals</ion-label>
          <ion-icon name="locate"></ion-icon>
        </ion-tab-button>

        <ion-tab-button tab="home">
          <ion-label>Home</ion-label>
          <ion-icon name="home"></ion-icon>
        </ion-tab-button>

        <ion-tab-button tab="bands">
          <ion-label>Bands</ion-label>
          <ion-icon name="heart"></ion-icon>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </div>
</ion-app>