<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Festivalfinder
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  Finde das perfekte Festival in deiner Nähe oder schaue wo deine Lieblingsbands auftreten.

  <ion-card routerLink="/festivals/EYpRCBBtaDteq4M9KjNx">
    <ion-card-header>
      <ion-card-subtitle>07.06.2019 - 09.06.2019</ion-card-subtitle>
      <ion-card-title>Rock am Ring</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      ist ein von Marek Lieberberg veranstaltetes Musikfestival, das von 1985 bis 2014 und seit 2017 wieder auf dem Nürburgring 
      in der Nähe der Stadt Adenau in der Eifel stattfindet. In den Jahren 2015 und 2016 fand das Festival am ehemaligen Bundeswehr-Flugplatz 
      in Mendig statt. Es läuft parallel zu Rock im Park und hat eine fast identische Bandbesetzung.
    </ion-card-content>
  </ion-card>
  
  <ion-card routerLink="/festivals/UdSCCO0OwGeXUILTo6Is">
    <ion-card-header>
      <ion-card-subtitle>21.06.2019 - 23.06.2019</ion-card-subtitle>
      <ion-card-title>Hurricane Festival</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Das Hurricane Festival ist ein seit 1997 auf der Motorrad-Sandrennbahn Eichenring bei Scheeßel (Niedersachsen), 
      zwischen Bremen und Hamburg stattfindendes Musikfestival. Mit mehr als 70.000 Besuchern (2016) zählt es zu den größten Musikfestivals 
      in Deutschland. Gleichzeitig mit dem „Schwesterfestival“ Southside wird es jeweils im Juni von der FKP Scorpio Konzertproduktionen GmbH, 
      der MCT Agentur GmbH und KoKo Konstanz GmbH veranstaltet. Wie viele andere große Festivals setzt das Hurricane auf eine Mischung aus Rock, 
      Alternative, Pop und Electro, wobei neben etablierten Stars auch Neulinge zum Zuge kommen.
    </ion-card-content>
  </ion-card>
  
  <ion-card routerLink="/festivals/RVttdD6yoICwu8gJTe8Y">
    <ion-card-header>
      <ion-card-subtitle>14.08.2019 - 17.08.2019</ion-card-subtitle>
      <ion-card-title>Summer Breeze</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      ist ein seit 1997 (mit Ausnahme von 1998) jährlich stattfindendes Metal-Festival auf der Ostalb und seit 2006 auf dem Flugplatz des Aeroclubs 
      Dinkelsbühl und mit derzeit ca. 45.000 Besuchern (Stand 2015)[1] eines der größten in Deutschland. Das Festival findet in der Regel in der 
      Woche des 15. August von Mittwoch bis Samstag statt.
    </ion-card-content>
  </ion-card>

  <ion-card routerLink="/festivals/BrJZyEcSJt77SxnbCGRx">
    <ion-card-header>
      <ion-card-subtitle>29.06.2019</ion-card-subtitle>
      <ion-card-title>Vainstream</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
     ist ein im Jahr 2006 gegründetes Musikfestival in Münster, das in den letzten Jahren am letzten Juni- oder ersten Juliwochenende stattfand. 
     Auf dem Festival treten in erster Linie Bands aus dem Bereich Metal, Punk, Hardcore Punk und verwandter Stilrichtungen auf.
    </ion-card-content>
  </ion-card>
</ion-content>

